#parse('cpp-template/M.vm')##
#set($fSize = $functor.size - 1)##
#set($fList = [0..$fSize])##

template <#tHeader($fList, 'class T%d', 'int _i, int which')>
struct #subFunctorId($functor) {
    #ol()
    typedef typename at<which
        #foreach($i in $fList)
            ,pack<>
        #end
    >::t v;
    #end

};