#parse('cpp-template/M.vm')##
#set($fSize = $functor.size - 1)##
#set($fList = [0..$fSize])##

template <#tHeader($fList, 'class T%d', 'int _i')>
struct #subFunctorId($functor) {
    template <int which>
    #ol()
    using v = typename at<which
        #foreach($i in $fList)
            ,pack<>
        #end
    >::t;
    #end

};
