#parse('cpp-template/M.vm')##

template<int which>
#ol()
struct #subFunctorId($functor) <
    #foreach($const in $args)
        #atom($const, $context, $q[$foreach.index]),
    #end
    $functor.getItemCount(), which
> {
#end

    #ol()
    typedef typename at<which
        #foreach($const in $args)
        , pack<$context.getConstantIndex($const.getInt())>
        #end
    >::t v;
    #end

};